__pycache__/
*.pyc
*.pyo
.DS_Store
thumbs.db
.vscode/
.idea/
*.egg-info/
env/
venv/
.venv/
data/train/
data/test/
*.pth
*.task
*.pkl
!models/landmark_mlp.pth
!models/xgb_model.pkl
!models/scaler.pkl
!models/class_map.pkl
